
//font color 
$primary-color:#fff;
$seconder-color:#242424;
$green:#63CE8C;
$header-color: #0E2538;

$banner-height:59px;


//font family
$title-family:"Oswald-Regular, Oswald";

$desc-family:"OpenSans-Bold, Open Sans";




// font size
$small-size: 16px;
$middle-size:20px;
$middle-big-size:32px; 
$big-size:64px;  




$main-container:100%;


//header foto

$header-img:"header.png";


$woman: "woman.png"


